
.form-container{ height: 100%; margin-bottom: 200px;}
.formCheckout{display: flex; flex-direction: column; justify-content:flex-start; justify-items: left; align-items: left; }

.formCheckout p{margin-left: 0%;}

.datosEnvio{display: block; justify-content: center; align-items: center; align-self: center;  width: 800px; padding: 20px;}

label{margin-right: 10px;}

.cardForm{display: flex; flex-direction: row; }

label{margin: 5px; margin-left: 0%;}